# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/modules.xml
.idea/modules/
app/.DS_Store
app/src/main/.DS_Store
app/src/main/java/.DS_Store
.gradle
.DS_Store